In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import lxml
from urllib.parse import urljoin
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [42]:
#create empty lists for data
advertisements = []
prices = []
subcategories = []
#set starting page
page=1
nextpage = page + 1

#url for ehorses.com
url = "https://www.ehorses.com/search?dum=dum&seite={pageno}".format(pageno = page)
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')

#identify how many pages there are to scrape
last_page =  soup.find(title="To the last page").text
last_page = int(last_page)

#create list of all the page numbers to iterate through and scrape
mypages= list(range(page,(last_page+1)))

#iterate through all pages
for num in range(mypages):
    #extract the advert title and add to list
    for item in soup.select("a.headline.noline.truncate"):
        advertisements.append(item.text)
    #extract the price and add to list
    for item in soup.select(".btm .price"):
        prices.append(item.get_text(strip = True))
    #extract the subcategory/type of horse and add to list
    for item in soup.select(".content b"):
        subcategories.append(item.text)
    #go to the next page when this is complete    
    url = "https://www.ehorses.com/search?dum=dum&seite={pageno}".format(pageno = nextpage)

In [37]:
#check scrape was successful and all lists are same length:

In [43]:
len(prices)

125

In [44]:
len(advertisements)

125

In [45]:
len(subcategories)

125

***make pandas dataframe from these lists***

In [46]:
df = pd.DataFrame()

In [47]:
df["Name"] = advertisements

In [48]:
df["Price"]= prices

In [49]:
df["Type"]= subcategories

In [50]:
df

,Name,Price,Type
0,"Andalusian, Stallion, 2 years, 15.1 hh, Buckskin","~5,645 $5,000 €",Dressage
1,"Holstein, Gelding, 6 years, 17.1 hh, Brown","price range25,000 € to 40,000 € /~28,224 $ to ...",Jumping
2,"Oldenburg, Mare, 3 years, 15.2 hh, Pinto","ONO~6,661 $5,900 €",Dressage
3,"Icelandic Horse, Mare, 16 years, Chestnut-Red","price range5,000 € to 10,000 € /~5,646 $ to 11...",Gaited
4,"Arabian horses, Gelding, 1 year, 15 hh, Black",price on application,Leisure
...,...,...,...
120,"Hanoverian, Mare, 3 years, 16.1 hh, Black","price range15,000 € to 25,000 € /~16,935 $ to ...",Dressage
121,"German Sport Horse, Mare, 3 years, 16.1 hh, Ch...","~6,209 $5,500 €",Dressage
122,"Paint Horse, Mare, 8 years, 15.1 hh, Sorrel","ONO~3,951 $3,500 €",Western Other
123,"Andalusian, Stallion, 5 years, 16 hh, Dun","~12,418 $11,000 €",Dressage
124,"Andalusian, Stallion, 4 years, 16 hh, Gray","price range10,000 € to 15,000 € /~11,290 $ to ...",Dressage